.photo-carousel {
  margin: 12px auto 80px;
  max-width: 100%;
}
.photo-carousel__item {
  margin: 0px 20px 0px 0px;
  width: 100%;
  outline: none;
}
.photo-carousel__img {
  width: 100%;
  border-radius: 8px;
  object-fit: contain;
  object-position: center;
  user-select: none;
  pointer-events: none;
}
.rec.rec-carousel-wrapper {
  position: relative;
}
.rec.rec-arrow {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 2px solid var(--main-color);
  background-color: inherit;
  box-sizing: border-box;
  color: var(--main-color);
}
.rec.rec-arrow:hover:enabled {
  background-color: var(--main-color);
  color: var(--white-color);
}
.rec.rec-arrow:focus:enabled {
  background-color: var(--main-color);
  color: var(--white-color);
}
.rec.rec-arrow:hover:disabled {
  cursor: initial;
  background-color: inherit;
  border: 2px solid var(--border-card-color);
  color: var(--border-card-color);
}
.rec.rec-arrow-left {
  right: 100px;
  bottom: -80px;
}
.rec.rec-arrow-right {
  right: 20px;
  bottom: -80px;
}
.rec.rec-pagination {
  position: absolute;
  left: 00px;
  bottom: -60px;
}
.rec.rec-dot {
  width: 15px;
  height: 15px;
  background-color: var(--border-card-color);
  border: none;
  box-shadow: none;
}
.rec.rec-dot:hover {
  box-shadow: 0 0 1px 3px var(--secondary-color);
}
.rec.rec-dot:focus {
  box-shadow: 0 0 1px 3px var(--secondary-color);
}
.rec.rec-dot_active {
  width: 40px;
  border-radius: 20px;
  background-color: var(--main-color);
}

@media all and (max-width: 1023px) {
  .photo-carousel__item {
    margin: 0px;
  }
  .rec.rec-arrow {
    display: none;
  }
}